# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# ML models
*.pkl
*.joblib
ml-service/**/models/*.pkl